/* main text color #212121 */

/* secondary test color #757575 */

/* text white color #FFFFFF */

/* action color #2196F3 */

/* footer adress color rgba(255, 255, 255, 0.6); */

/* bg main color #FFFFFF */

/* bg secondary color #F5F4FA */

/* team list bg #FFFFFF */

/* footer bg color #2F303A  */

/* Hero bg color #2F303A */

/* Global */

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --text-white-color: #ffffff;
  --action-color: #2196f3;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --bgc-main: #ffffff;
  --bgc-secondary: #f5f4fa;
  --hero-button-hover: #188ce8;
  --border: #ececec;
  --bgc-item-hover: #eeeeee;
  --typical-gap: 10px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: roboto, sans-serif;
  background-color: #ffffff;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 3px solid purple; */
}

/* header */

.nav .link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.nav {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-border .logo {
  margin-right: 93px;
}

.contact .link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.nav .current {
  color: var(--action-color);
}

.nav .link:hover,
.nav .link:focus,
.contact .link:hover,
.contact .link:focus {
  color: var(--action-color);
}

.header {
  border-bottom: var(--border) 1px solid;
}

.header-border {
  display: flex;
  align-items: center;
}
/* footer */

.footer {
  /* добавлено для корректного отображения цвета шрифта телефона и мейла в футере */
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-adress {
  font-size: 14px;
  line-height: 1.46;
}

.footer-adress-list-item-contact {
  color: var(--footer-adress-color);
  text-decoration: none;
  font-style: normal;
}

.footer-adress-list-item-adress {
  color: var(--text-white-color);
  text-decoration: none;
  font-style: normal;
}

.footer-adress a:focus,
.footer-adress a:hover {
  color: var(--action-color);
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--action-color);
}

.logo .header-logo {
  color: #000000;
}

.logo .footer-logo-white {
  color: var(--text-white-color);
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.buttons-filter {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  background-color: var(--bgc-secondary);
  padding: 6px 22px;
  border-width: 0;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-filter:not(:first-child) {
  margin-left: 8px;
}

.cases-item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cases-item-text {
  font-size: 16px;
  color: var(--secondary-text-color);
}

.cases-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.cases-item {
  flex-basis: calc(100% / 3 - 30px);

  margin-left: 30px;
  margin-bottom: 30px;
}

.cases-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-bottom: 1px solid var(--bgc-item-hover);
  border-left: 1px solid var(--bgc-item-hover);
  border-right: 1px solid var(--bgc-item-hover);
}

.hero {
  background-color: #2f303a;
  /* max-width: 1600px; */
  background-image: linear-gradient(359deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-size: 44px;
  color: var(--text-white-color);
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-bottom: 30px;
}

.hero-button {
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  background-color: var(--action-color);
  letter-spacing: 0.06em;
  font-family: inherit;
  font-weight: 700;
  color: var(--text-white-color);
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-hover);
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.team {
  background-color: var(--bgc-secondary);
}
.team-list-item-title {
  line-height: 1.19;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.team-list-item-text {
  line-height: 1.19;
  font-size: 16px;
  color: var(--secondary-text-color);
  text-align: center;
  margin-top: var(--typical-gap);
}

.team-list-item-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: var(--text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.privelege-list {
  display: flex;
}

.privelege-item:not(:last-child) {
  margin-right: 30px;
}

.privelege-list-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.privelege-list-item {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: var(--typical-gap);
}

/* promo */

.main .promo {
  padding-top: 0;
}

.promo-list {
  display: flex;
}

.promo-list-item:not(:last-child) {
  margin-right: 30px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.buttons-filter:focus,
.buttons-filter:hover {
  background-color: var(--action-color);
  color: var(--text-white-color);
}
